header, main, footer{
    margin: 1em auto;
    font-family: 'Shadows Into Light', cursive;
}
a{
    font-size: 40px;
    text-decoration: none;
    color: red;
}
header{
    margin-top : 20px;
    height: auto;
    width: 70%;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;

}

main{
    text-align: center;
}

h1{
    margin-top: 5px;
    font-size: 20px;
}
#underscore{
    font-size : 35px;
    margin-top : 20px;
}
footer{
    text-align: center;
}
button{
    font-family: 'Shadows Into Light', cursive;
}

#guessbut{
    font-size: 20px;
}

#intro{
    color: blue;
}
#hiddenmessage2{
    font-size: 30px;
    color: red;
}
#startbut{
    background-color: red;
    color: white;
    font-size: 30px;
}
#startbut:hover{
    background-color: aqua;
    color: black;
}
#alert{
    font-size: 25px;
}
#hiddenmessage{
    font-size : 40px;
    color: chocolate;
}
#copyright{
    margin: 150px;
}
div{
    text-align: center;
}
span{
    font-weight: 800;
    font-size : 30px;
    color: crimson;
}

input{
    font-size: 20px; 
    
}

.button{
    border-radius: 4px;
}
.button:hover{
    background-color: burlywood;
    color: aliceblue;
}

img{
    margin-top: 10px;
    width: 15%;
    height: 15%;
}